.app-topics {
  height: 100%;
  .app-topics-item {
    border-bottom: solid 1px #eee;
  }
  .app-topics-content {
    position: relative;
  }
  .app-topics-meta {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    font-weight: 100;
    color: #888;
    justify-content: space-between;
  }
  .app-topics-login, .app-topics-node {
    margin-right: 10px;
  }
  .app-topics-title {
    font-size: 14px;
    margin-bottom: 20px;
    overflow: hidden;
  }
}

@keyframes loading-rotate {
  0%   { transform: rotate(0deg); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}
