.app-topic_avatar {
  img {
    border-radius: 100%;
  }
}
.app-topic_content {
  position: relative;
  p {
    margin: 0;
  }
}
.app-topic_meta {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  font-weight: 100;
  color: #888;
  justify-content: space-between;
}
.app-topic_login, .app-topic_node {
  margin-right: 10px;
}
.app-topic_title {
  font-size: 14px;
  margin-bottom: 20px;
  overflow: hidden;
}