.app-topic_detail {
  height: 100%;
  display: flex;
  flex-direction: column;

  .app-toolbar {
    span.flex {
      margin-left: 0;
      font-size: 12px;
    }
  }

  .app-topic_detail-screen {
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
  }

  .app-topic_detail-title {
    padding: 20px;
    font-weight: bold;
  }

  .app-topic_detail-content {
    padding: 20px;

    h1, h2 {
      font-size: inherit;
    }
    img {
      max-width: 100%;
    }
  }

  .app-topic_detail-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    box-shadow: 0 0 5px #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    li {
      a {
        color: #bbb;
      }
      &.app-topic_detail-menu-bookmark, &.app-topic_detail-menu-comment, &.app-topic_detail-menu-eye {
        &.active a {
          color: #2196f3;
        }
      }
      &.app-topic_detail-menu-heart {
        &.active a {
          color: #e57373;
        }
      }
    }
  }
}
